#supermarket {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}

#cart {
    background-color: #999999;
    padding: 10px;
}

#products {
    background-color: #60add5;
    padding: 10px;
}

li.product {
    margin: 8px;
}