<label><%= product.attributes.title %> <%= product.attributes.formattedPrice %></label>
<div>
    <p>Quantity: <%= quantity %></p>
    <p>Price before discounts: <%= formattedPrice %></p>
    <p>Discount: <%= formattedDiscount %></p>
    <p>Final price: <%= formattedFinalPrice %></p>
    <button class="remove">Remove</button>
</div>